@use "./../foundation/variable" as *;

.l-hgMenu {
  &__list {
    display: none;
    background-color: $White;
    transition: all 0.2s;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    @include pc {
      display: block;
      position: static;
    }
  }
  &__content {
    @include pc {
      display: flex;
    }
  }
}
.l-hgMenu__list.is-active {
  display: block;
  transition: all 0.2s;
}
