@use "./../../foundation/variable" as *;

.c-btn {
  border-radius: 4px;
  display: inline-block;
  border: solid 1px #c3c3c3;
  &--blue {
    color: $White;
    background-color: $Blue;
    border-color: $Blue;
  }
}
